
OnlineStore/.metadata/.lock
OnlineStore/.metadata/.log
*.zip
*.properties
*.tree
OnlineStore/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.version
*.dat
*.resources
*.log
*.xml
OnlineStore/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
*.xmi
*.css
OnlineStore/mvnw
*.jar
*.js
*.policy
*.password
*.access
*.setup
OnlineStore/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.db
OnlineStore/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
OnlineStore/.metadata/.plugins/org.eclipse.mylyn.github.ui/avatars.ser
OnlineStore/.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/properties/.state
OnlineStore/.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/metadata/.state
OnlineStore/.metadata/.plugins/org.springframework.ide.eclipse.aop.core/.state
*.mark
*.txt
*.png
*.html
*.gif
*.woff
*.jar
*.cmd
*.jar
*.ini
*.jar
*.jar
